body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.App {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.input-row {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.form-control {
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced4da;
}

.place-search {
  position: relative;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: 1px solid #ced4da;
  border-top: none;
}

.suggestion-item:hover {
  background-color: #f8f9fa;
}

.alert-danger {
  border-radius: 5px;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.rapido-relax-nav {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.results-section {
  margin-top: 20px;
}

.result-card {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.header {
  background-color: #4CAF50;
  /* Vert */
  color: white;
  padding: 1rem 0;
  text-align: center;
  font-size: 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.result-card a {
  color: #007bff;
  margin-left: 5px;
}

.result-card a:hover {
  text-decoration: underline;
}